.branch-connection-status-item {
  display: flex;
}

.branch-connection-status-item > span {
  margin-right: 5px;
}

.branch-connection-status-item.connected .branch-connection-status-item-icon {
  background-color: var(--branch-disconnected-color);
}

.branch-connection-status-item.disconnected
  .branch-connection-status-item-icon {
  background-color: var(--branch-connected-color);
}

.branch-connection-status-item-icon {
  width: 14px;
  height: 14px;
  border-radius: 8px;
  border: 1px solid var(--branch-border-color-primary);
}
