.cone-stacked-bar {
  width: calc(var(--cone-width) * var(--cone-zoom));
  position: relative;
  height: 100%;
}

.cone-stacked-bar-block {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cone-stacked-bar-block > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 3px;
  cursor: default;
}
