.cone-chart {
  background-color: #eeeeee;
  width: 100%;
  height: var(--cone-height);
  overflow: scroll;
}

.cone-chart-content {
  background-color: rgb(181, 99, 17);
  height: calc(var(--cone-height) * var(--cone-zoom));
  width: calc(var(--cone-width) * var(--cone-zoom));
  overflow: hidden;
}
