.cone-legend-item {
  height: 5%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.cone-legend-item > span {
  color: var(--cone-legend-text-color);
  font-weight: bold;
}

.cone-legend-item:nth-child(2n) {
  background-color: var(--cone-legend-primary-color);
}

.cone-legend-item:nth-child(2n + 1) {
  background-color: var(--cone-legend-secondary-color);
}
