.cone-stacked-bar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cone-stacked-bar-block {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cone-stacked-bar-block > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 3px;
  cursor: default;
  color: var(--cone-text-color-primary);
}

.cone-stacked-bar-block:nth-child(2n) {
  background-color: var(--cone-chart-primary-color);
}

.cone-stacked-bar-block:nth-child(2n + 1) {
  background-color: var(--cone-chart-secondary-color);
}
