.cone-chart {
  background-color: rgb(181, 99, 17);
  width: 85%;
  height: calc(var(--cone-height) * var(--cone-zoom));
}

.cone-chart::-webkit-scrollbar {
  display: none;
}

.cone-chart > .cone-row:nth-child(2n + 1) {
  background-color: #9e9e9e;
}

.cone-chart > .cone-row:nth-child(2n) {
  background-color: #bdbdbd;
}
