.cone-legend {
  position: sticky;
  flex-basis: var(--cone-legend-width);
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.cone-legend span {
  font-weight: bold;
  color: var(--cone-text-color-secondary);
  padding-left: 5px;
}
