.cone-row {
  display: flex;
  position: relative;
  flex: 1;
  will-change: width;
  border-right: 2px solid var(--cone-time-color);
}

.cone-row:nth-child(2n + 1) > .cone-cell {
  background-color: var(--cone-background-color-primary);
}

.cone-row:nth-of-type(2n) > .cone-cell {
  background-color: var(--cone-background-color-seconday);
}

.cone-row:nth-of-type(2n + 1) > .cone-legend {
  background-color: var(--cone-background-color-primary-dark);
}

.cone-row:nth-of-type(2n) > .cone-legend {
  background-color: var(--cone-background-color-secondary-dark);
}
