.branch-filter-status {
  position: absolute;
  top: 20px;
  right: 5px;
  display: flex;
}

.branch-filter-status.active .branch-filter-status-icon {
  background-color: var(--branch-active-color);
}

.branch-filter-status.inactive .branch-filter-status-icon {
  background-color: var(--branch-inactive-color);
}

.branch-filter-status-icon {
  width: 14px;
  height: 14px;
  border-radius: 8px;
  border: 1px solid var(--branch-border-color);
}
