.branch-filter-selector > label {
  margin-right: 5px;
}

.branch-filter-selector > form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.branch-filter-selector > form > button {
  margin-top: 20px;
  width: 75px;
  cursor: pointer;
}
