:root {
  --cone-height: 600px;
  --cone-zoom: 1;
  --cone-time-color: #d32f2f;
  --cone-chart-primary-color: #90a4ae;
  --cone-chart-secondary-color: #607d8b;
  --cone-background-color-primary: #e0e0e0;
  --cone-background-color-secondary: #bdbdbd;
  --cone-background-color-primary-dark: #616161;
  --cone-background-color-secondary-dark: #424242;
  --cone-text-color-primary: #000000;
  --cone-text-color-secondary: #ffffff;
  --cone-border-color: #212121;
}

.cone span,
.cone label {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}
