.cone-chart {
  background-color: rgb(160, 153, 146);
  width: 100%;
  height: var(--cone-height);
  overflow: scroll;
}

.cone-chart-content {
  background-color: rgb(181, 99, 17);
  height: calc(var(--cone-zoom) * var(--cone-height));
  width: calc(var(--cone-zoom) * var(--cone-width));
}
